<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="newOfferForm" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input type="text"
      formControlName="name"
      name="name"
      class="form-control">
      <label for="desciption">Description</label>
      <input type="text"
      name="description"
      formControlName="description"
      class="form-control">
      <label for="conditions">Conditions</label>
      <input type="text"
      name="conditions"
      formControlName = "conditions"
      class="form-control">
      <label for="image">Image</label>
      <input type="text"
      name="image"
      formControlName="image"
      class="form-control">
      <button class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
